<section class="vh-100 bg-inner-blue" style="min-height: 100% !important;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10 my-5">
        <div class="card shadow-0">
          <div class="card-header bg-light">
            <h5 class="card-title fw-light mb-0 float-start"><i class="fal fa-mailbox me-2"></i>Mailer Configuration
            </h5>
            <button type="button" class="btn btn-sm btn-danger float-end" (click)="submitConfigForm()">Save Changes
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="configForm" (ngSubmit)="submitConfigForm()">
              <div class="row">
                <div class="col-12" *ngIf="configUpdatedSuccess">
                  <div class="alert alert-success p-2">
                    Mailer Configuration updated successfully!
                  </div>
                </div>
                <div class="col-12 col-md-6 mb-3 py-3">
                  <mdb-form-control>
                    <input mdbInput mdbValidate type="text" formControlName="senderName" id="senderName"
                           maxlength="32"
                           [readonly]="formDisabled" placeholder="Sender's Name"
                           class="form-control mb-0" autofocus/>
                    <label mdbLabel class="form-label " for="senderName">Sender's Name</label>
                  </mdb-form-control>
                  <app-form-field-error [formField]="configForm.controls.senderName"></app-form-field-error>
                  <mdb-form-control class="mt-3">
                    <input mdbInput mdbValidate type="text" formControlName="senderEmail" id="senderEmail"
                           maxlength="64"
                           [readonly]="formDisabled" placeholder="noreply@domain.com"
                           class="form-control mb-0" autofocus/>
                    <label mdbLabel class="form-label " for="senderEmail">Sender's E-mail</label>
                  </mdb-form-control>
                  <app-form-field-error [formField]="configForm.controls.senderEmail"></app-form-field-error>
                  <mdb-form-control class="mt-3">
                    <input mdbInput mdbValidate type="number" formControlName="timeOut" id="timeOut"
                           min="1" max="60"
                           [readonly]="formDisabled" placeholder="1"
                           class="form-control mb-0" autofocus/>
                    <label mdbLabel class="form-label " for="senderEmail">Timeout (seconds)</label>
                  </mdb-form-control>
                  <app-form-field-error [formField]="configForm.controls.timeOut"></app-form-field-error>
                  <div class="mt-3">
                    <p class="mb-2 noselect"><i class="fal fa-lock me-1"></i>Encryption:</p>
                    <div class="btn-group btn-group-sm">
                      <button class="btn" type="button" mdbRipple rippleColor="primary"
                              [ngClass]="optUseTLS === true ? 'btn-primary' : 'btn-outline-danger'"
                              (click)="optUseTLS = true">
                        <i class="fal fa-check me-1 text-success" *ngIf="optUseTLS"></i>Use TLS
                      </button>
                      <button class="btn" type="button" mdbRipple rippleColor="primary"
                              [ngClass]="optUseTLS === true ? 'btn-outline-primary' : 'btn-danger'"
                              (click)="optUseTLS = false">
                        <i class="fal fa-check me-1 text-success" *ngIf="!optUseTLS"></i>No Encryption
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 bg-light py-3">
                  <mdb-form-control>
                    <mdb-select [disabled]="formDisabled" formControlName="service">
                      <mdb-option value="disabled">Disabled</mdb-option>
                      <mdb-option value="paused">Paused</mdb-option>
                      <mdb-option value="smtp">SMTP</mdb-option>
                      <mdb-option value="mailgun">MailGun (API)</mdb-option>
                    </mdb-select>
                    <label mdbLabel class="form-label">Mailer Service</label>
                  </mdb-form-control>
                  <app-form-field-error [formField]="configForm.controls.service"></app-form-field-error>
                  <div class="mt-3" *ngIf="this.configForm.controls.service.value === 'disabled'">
                    <div class="alert alert-info p-2">
                      <i class="fal fa-exclamation-circle me-1"></i>No e-mail messages will be queued or dispatched.
                    </div>
                  </div>
                  <div class="mt-3" *ngIf="this.configForm.controls.service.value === 'paused'">
                    <div class="alert alert-info p-2">
                      <i class="fal fa-exclamation-circle me-1"></i>No e-mail messages are dispatched but still added to
                      queue.
                    </div>
                  </div>
                  <div class="mt-3" *ngIf="this.configForm.controls.service.value === 'smtp'">
                    <mdb-form-control>
                      <input mdbInput mdbValidate type="text" formControlName="smtpHostname" id="smtpHostname"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="localhost"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="smtpHostname">SMTP Hostname</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.smtpHostname"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <input mdbInput mdbValidate type="text" formControlName="smtpPort" id="smtpPort"
                             min="21" max="65535"
                             [readonly]="formDisabled" placeholder="587"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="smtpHostname">SMTP Port</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.smtpPort"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <input mdbInput mdbValidate type="text" formControlName="smtpUsername" id="smtpUsername"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="email@domain.com"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="smtpUsername">Username</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.smtpUsername"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <input mdbInput mdbValidate type="text" formControlName="smtpPassword" id="smtpPassword"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="secret"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="smtpPassword">Password</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.smtpPassword"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <input mdbInput mdbValidate type="text" formControlName="smtpServerName" id="smtpServerName"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="domain.com"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="smtpServerName">Server Name</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.smtpServerName"></app-form-field-error>
                  </div>
                  <div class="mt-3" *ngIf="this.configForm.controls.service.value === 'mailgun'">
                    <mdb-form-control>
                      <input mdbInput mdbValidate type="text" formControlName="mgApiKey" id="mgApiKey"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="MailGun API key"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="mgApiKey">API Key</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.mgApiKey"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <input mdbInput mdbValidate type="text" formControlName="mgApiDomain" id="mgApiDomain"
                             maxlength="64"
                             [readonly]="formDisabled" placeholder="Domain"
                             class="form-control mb-0" autofocus/>
                      <label mdbLabel class="form-label " for="mgApiDomain">Domain</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.mgApiDomain"></app-form-field-error>
                    <mdb-form-control class="mt-3">
                      <mdb-select [disabled]="formDisabled" formControlName="mgApiRegion">
                        <mdb-option value="us">United States</mdb-option>
                        <mdb-option value="eu">Europe</mdb-option>
                      </mdb-select>
                      <label mdbLabel class="form-label">API Region</label>
                    </mdb-form-control>
                    <app-form-field-error [formField]="configForm.controls.mgApiRegion"></app-form-field-error>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
