<section class="bg-inner-red vh-100" style="min-height: 100% !important;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10 my-4 bg-white shadow-2 pb-3">
        <mdb-tabs>
          <mdb-tab title="System">
            <app-system-config></app-system-config>
          </mdb-tab>
          <mdb-tab title="OAuth 2.0">
            <form [formGroup]="oAuth2Forms" (ngSubmit)="submitOAuth2Form()">
              <div class="alert alert-success py-2 mb-3" *ngIf="oAuth2UpdateSuccess">
                <i class="fal fa-check-circle me-2"></i>OAuth2.0 configuration updated successfully!
              </div>
              <ng-container *ngIf="!programConfig">
                <div class="text-center text-muted noselect">
                  <app-spinner-icon spinnerClass="text-muted me-1"></app-spinner-icon>
                  Loading...
                </div>
              </ng-container>
              <ng-container *ngIf="programConfig">
                <div class="col-12 bg-inner-blue rounded p-2 mb-3 ">
                  <div class="btn-group btn-group-sm" mdbTooltip="Global OAuth2.0 Status">
                    <button type="button" class="btn"
                            [ngClass]="oAuth2Status.global ? 'btn-success' : 'btn-outline-danger'"
                            mdbRipple
                            (click)="oAuth2Status.global  = true" [disabled]="formsDisabled">
                      On
                    </button>
                    <button type="button" class="btn"
                            [ngClass]="!oAuth2Status.global ? 'btn-danger' : 'btn-outline-success'"
                            mdbRipple
                            (click)="oAuth2Status.global  = false" [disabled]="formsDisabled">
                      Off
                    </button>
                  </div>
                  <button type="button" class="btn btn-sm btn-danger float-end" mdbRipple rippleColor="danger"
                          *ngIf="!formSubmit"
                          (click)="submitOAuth2Form()">Save Changes
                  </button>
                  <app-button-loader btnClass="btn-sm btn-outline-danger float-end" spinnerClass="text-danger"
                                     *ngIf="formSubmit"></app-button-loader>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <!---// Apple //--->
                  <div class="col">
                    <div class="card card-classic">
                      <div class="card-header noselect px-3 py-2">
                        <p class="card-title fw-light mb-0">
                          <i class="fab fa-apple me-2"></i>Apple
                        </p>
                      </div>
                      <div class="card-body p-3">
                        <div class="btn-group btn-group-sm mb-4">
                          <button type="button" class="btn"
                                  [ngClass]="oAuth2Status.apple ? 'btn-success' : 'btn-outline-danger'"
                                  mdbRipple
                                  (click)="oAuth2Status.apple  = true" [disabled]="formsDisabled">
                            Enabled
                          </button>
                          <button type="button" class="btn"
                                  [ngClass]="!oAuth2Status.apple ? 'btn-danger' : 'btn-outline-success'"
                                  mdbRipple
                                  (click)="oAuth2Status.apple  = false" [disabled]="formsDisabled">
                            Disabled
                          </button>
                        </div>
                        <mdb-form-control>
                          <input mdbInput mdbValidate type="text" formControlName="appleAppId" id="appleAppId"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="appleAppId">App ID</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.appleAppId"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="appleAppKey" id="appleAppKey"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="appleAppKey">App Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.appleAppKey"></app-form-field-error>
                      </div>
                    </div>
                  </div>
                  <!---// Google //--->
                  <div class="col">
                    <div class="card card-classic">
                      <div class="card-header noselect px-3 py-2">
                        <p class="card-title fw-light mb-0">
                          <i class="fab fa-google me-2"></i>Google
                        </p>
                      </div>
                      <div class="card-body p-3">
                        <div class="btn-group btn-group-sm mb-4">
                          <button type="button" class="btn"
                                  [ngClass]="oAuth2Status.google ? 'btn-success' : 'btn-outline-danger'"
                                  mdbRipple
                                  (click)="oAuth2Status.google  = true" [disabled]="formsDisabled">
                            Enabled
                          </button>
                          <button type="button" class="btn"
                                  [ngClass]="!oAuth2Status.google ? 'btn-danger' : 'btn-outline-success'"
                                  mdbRipple
                                  (click)="oAuth2Status.google  = false" [disabled]="formsDisabled">
                            Disabled
                          </button>
                        </div>
                        <mdb-form-control>
                          <input mdbInput mdbValidate type="text" formControlName="googleAppId" id="googleAppId"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="googleAppId">App ID</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.googleAppId"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="googleAppKey" id="googleAppKey"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="googleAppKey">App Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.googleAppKey"></app-form-field-error>
                      </div>
                    </div>
                  </div>
                  <!---// Facebook //--->
                  <div class="col">
                    <div class="card card-classic">
                      <div class="card-header noselect px-3 py-2">
                        <p class="card-title fw-light mb-0">
                          <i class="fab fa-facebook me-2"></i>Facebook
                        </p>
                      </div>
                      <div class="card-body p-3">
                        <div class="btn-group btn-group-sm mb-4">
                          <button type="button" class="btn"
                                  [ngClass]="oAuth2Status.fb ? 'btn-success' : 'btn-outline-danger'"
                                  mdbRipple
                                  (click)="oAuth2Status.fb  = true" [disabled]="formsDisabled">
                            Enabled
                          </button>
                          <button type="button" class="btn"
                                  [ngClass]="!oAuth2Status.fb ? 'btn-danger' : 'btn-outline-success'"
                                  mdbRipple
                                  (click)="oAuth2Status.fb  = false" [disabled]="formsDisabled">
                            Disabled
                          </button>
                        </div>
                        <mdb-form-control>
                          <input mdbInput mdbValidate type="text" formControlName="fbAppId" id="fbAppId"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="fbAppId">App ID</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.fbAppId"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="fbAppKey" id="fbAppKey"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="fbAppKey">App Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.fbAppKey"></app-form-field-error>
                      </div>
                    </div>
                  </div>
                  <!---// Twitter //--->
                  <div class="col">
                    <div class="card card-classic">
                      <div class="card-header noselect px-3 py-2">
                        <p class="card-title fw-light mb-0">
                          <i class="fab fa-twitter me-2"></i>Twitter
                        </p>
                      </div>
                      <div class="card-body p-3">
                        <div class="btn-group btn-group-sm mb-4">
                          <button type="button" class="btn"
                                  [ngClass]="oAuth2Status.tw ? 'btn-success' : 'btn-outline-danger'"
                                  mdbRipple
                                  (click)="oAuth2Status.tw  = true" [disabled]="formsDisabled">
                            Enabled
                          </button>
                          <button type="button" class="btn"
                                  [ngClass]="!oAuth2Status.tw ? 'btn-danger' : 'btn-outline-success'"
                                  mdbRipple
                                  (click)="oAuth2Status.tw  = false" [disabled]="formsDisabled">
                            Disabled
                          </button>
                        </div>
                        <mdb-form-control>
                          <input mdbInput mdbValidate type="text" formControlName="twAppId" id="twAppId"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="twAppId">App ID</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.twAppId"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="twAppKey" id="twAppKey"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="twAppKey">App Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="oAuth2Forms.controls.twAppKey"></app-form-field-error>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
          </mdb-tab>
          <mdb-tab title="ReCaptcha">
            <form [formGroup]="reCaptchaForms" (ngSubmit)="submitReCaptchaForm()">
              <div class="alert alert-success py-2 mb-3" *ngIf="reCaptchaUpdateSuccess">
                <i class="fal fa-check-circle me-2"></i>ReCaptcha configuration updated successfully!
              </div>
              <ng-container *ngIf="!programConfig">
                <div class="text-center text-muted noselect">
                  <app-spinner-icon spinnerClass="text-muted me-1"></app-spinner-icon>
                  Loading...
                </div>
              </ng-container>
              <ng-container *ngIf="programConfig">
                <div class="col-12 bg-inner-blue rounded p-2 mb-3 text-end">
                  <button type="button" class="btn btn-sm btn-danger" mdbRipple rippleColor="danger"
                          *ngIf="!formSubmit"
                          (click)="submitReCaptchaForm()">Save Changes
                  </button>
                  <app-button-loader btnClass="btn-sm btn-outline-danger" spinnerClass="text-danger"
                                     *ngIf="formSubmit"></app-button-loader>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  <div class="col">
                    <div class="card card-classic">
                      <div class="card-header noselect px-3 py-2">
                        <p class="card-title fw-light mb-0">
                          <i class="fab fa-google me-2"></i>ReCaptcha
                        </p>
                      </div>
                      <div class="card-body p-3">
                        <mdb-form-control>
                          <mdb-select [disabled]="formsDisabled" formControlName="status" id="reCaptchaStatus">
                            <mdb-option value="0">Disabled</mdb-option>
                            <mdb-option value="1">Enabled</mdb-option>
                            <mdb-option value="2">Dynamic</mdb-option>
                          </mdb-select>
                          <label mdbLabel class="form-label " for="reCaptchaStatus">Status</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="reCaptchaForms.controls.status"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="publicKey" id="reCaptchaPublic"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="reCaptchaPublic">Public Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="reCaptchaForms.controls.publicKey"></app-form-field-error>
                        <mdb-form-control class="mt-3">
                          <input mdbInput mdbValidate type="text" formControlName="privateKey" id="reCaptchaPrivate"
                                 maxlength="128" [readonly]="formsDisabled" placeholder="Secret"
                                 class="form-control mb-0" autofocus/>
                          <label mdbLabel class="form-label " for="reCaptchaPrivate">Private Key</label>
                        </mdb-form-control>
                        <app-form-field-error [formField]="reCaptchaForms.controls.privateKey"></app-form-field-error>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
          </mdb-tab>
        </mdb-tabs>
      </div>
    </div>
  </div>
</section>
