<section class="bg-inner-red vh-100" style="min-height: 100% !important;">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-10 my-4 bg-white shadow-2 pb-3">
        <mdb-tabs>
          <mdb-tab title="System">
            <app-system-config></app-system-config>
          </mdb-tab>
          <mdb-tab title="OAuth 2.0">
            ...
          </mdb-tab>
          <mdb-tab title="ReCaptcha">
            ...
          </mdb-tab>
        </mdb-tabs>
      </div>
    </div>
  </div>
</section>
