<div class="btn-toolbar d-flex justify-content-between mb-3">
  <div class="btn-group btn-group-sm me-2 shadow-0">
    <button class="btn btn-sm btn-info" [disabled]="listCount > 0 && selectedCount >= listCount" (click)="selectAll()">
      Select All
    </button>
    <button class="btn btn-sm btn-info" [disabled]="selectedCount <= 0" (click)="unSelectAll()">Unselect All</button>
  </div>
  <div class="btn-group btn-group-sm me-2 shadow-0">
    <button class="btn btn-sm btn-danger" [disabled]="selectedCount <= 0" (click)="changeSelectedStatus()">Move
      to {{type === 'disabled' ? 'Available' : 'Disabled'}}</button>
  </div>
</div>
<div class="table-responsive mb-3">
  <table class="table table-sm table-striped table-hover">
    <thead class="table-dark">
    <tr>
      <th scope="row" class="text-center fw-light">-</th>
      <th scope="row" class="text-center fw-light">Name</th>
      <th scope="row" class="text-center fw-light">ISO 3166-1</th>
      <th scope="row" class="text-center fw-light">Alpha 3</th>
      <th scope="row" class="text-center fw-light">Dial Code</th>
      <th scope="row" class="text-center fw-light">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let country of list; let i = index">
      <tr>
        <td class="text-center"><input type="checkbox" class="form-check-input" [checked]="country.checked"
                                       (click)="toggleCountryCheck(i)"></td>
        <td class="text-left">{{country.name}}</td>
        <td class="text-center">{{country.codeShort}}</td>
        <td class="text-center">{{country.code}}</td>
        <td class="text-center">{{country.dialCode}}</td>
        <td class="text-end">
          <button class="btn btn-sm btn-outline-danger m-0" mdbRipple rippleColor="danger" mdbTooltip="Edit"
                  (click)="editCountry(country)">
            <i class="fal fa-edit"></i></button>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="list.length < 1">
      <tr>
        <td colspan="6" class="text-muted">There are no countries in this list</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
<div class="btn-toolbar d-flex justify-content-between" *ngIf="listCount > 25">
  <div class="btn-group btn-group-sm me-2 shadow-0">
    <button class="btn btn-sm btn-info" [disabled]="listCount > 0 && selectedCount >= listCount" (click)="selectAll()">
      Select All
    </button>
    <button class="btn btn-sm btn-info" [disabled]="selectedCount <= 0" (click)="unSelectAll()">Unselect All</button>
  </div>
  <div class="btn-group btn-group-sm me-2 shadow-0">
    <button class="btn btn-sm btn-danger" [disabled]="selectedCount <= 0" (click)="changeSelectedStatus()">Move
      to {{type === 'disabled' ? 'Available' : 'Disabled'}}</button>
  </div>
</div>
