<section class="pt-5 pb-3">
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 mb-4">
        <h3 class="fw-light mb-0" *ngIf="user">Editing &ldquo;<span class="user-select-all">{{user.username}}</span>&rdquo;
        </h3>
        <h3 class="fw-light mb-0" *ngIf="!user">Loading User Account...
          <app-spinner-icon spinnerClass="text-primary ms-3"></app-spinner-icon>
        </h3>
      </div>
      <div class="col-md-8 col-lg-9 mt-3" *ngIf="user">
        <div class="alert alert-warning mb-3 py-2" *ngFor="let error of userAccountLoadErrors">
          <i class="fal fa-exclamation-circle me-2"></i>{{error}}
        </div>
        <div class="alert alert-danger mb-3 py-2" *ngIf="!user.checksumVerified">
          <i class="fal fa-exclamation-circle me-2"></i>Checksum validation FAILS for this user account
        </div>
        <mdb-tabs>
          <mdb-tab>
            <ng-template mdbTabTitle>
              <span><i class="fal fa-user-edit me-2"></i>Account</span>
            </ng-template>
            <div class="card shadow-2 mt-4">
              <div class="card-header bg-light">
                <h5 class="card-title mb-0 fw-light">Editing Account</h5>
              </div>
              <div class="card-body py-5">
                <mdb-tabs [vertical]="true">
                  <mdb-tab title="Account">
                    <div class="col-lg-8">
                      <form [formGroup]="editAccountForm" (ngSubmit)="submitEditAccount()">
                        <div class="card">
                          <div class="card-body">
                            <div class="alert alert-success mb-4 py-3" *ngIf="editAccountSuccess">
                              <i class="fal fa-check-circle me-2"></i>Your changes have been saved successfully!
                            </div>
                            <mdb-form-control>
                              <mdb-select [disabled]="formsAreDisabled" formControlName="groupId">
                                <mdb-option *ngFor="let group of usersGroups" [value]="group.id">[#{{group.id}}
                                  ] {{group.name}}</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Users Group</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.groupId"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="status">
                                <mdb-option value="active">Active</mdb-option>
                                <mdb-option value="disabled">Disabled</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Status</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.status"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="username" id="editUsername"
                                     maxlength="16"
                                     [readonly]="formsAreDisabled" placeholder="{{user.username}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editUsername">Username</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editAccountForm.controls.username"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="email" id="editEmail"
                                     maxlength="64"
                                     [readonly]="formsAreDisabled" placeholder="{{user.email ?? 'john.doe@domain.com'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editEmail">E-mail Address</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.email"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="phone" id="editPhone"
                                     maxlength="32"
                                     [readonly]="formsAreDisabled" placeholder="{{user.phone ?? '+971.23456789'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editPhone">Contact/Phone No.</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.phone"></app-form-field-error>
                            <mdb-form-control class="mt-3" *ngIf="countriesList">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="country" [filter]="true">
                                <mdb-option value="">(none)</mdb-option>
                                <mdb-option *ngFor="let country of countriesList.countries |keyvalue"
                                            [value]="country.value.code">{{country.value.name}}
                                  (+{{country.value.dialCode}}
                                  )
                                </mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Country of Residence</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.country"></app-form-field-error>
                            <hr class="text-muted border-1">
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="editAccTotp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="editAccountTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editAccTotp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editAccountForm.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer bg-light">
                            <button class="btn btn-outline-danger" type="submit" *ngIf="!editAccountSubmit" mdbRipple
                                    rippleColor="danger"
                                    [disabled]="formsAreDisabled">Save Changes
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-primary'" [spinnerClass]="'text-danger'"
                                               *ngIf="editAccountSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mdb-tab>
                  <mdb-tab title="Profile">
                    <div class="col-lg-8">
                      <form [formGroup]="editProfileForm" (ngSubmit)="submitEditProfile()">
                        <div class="card">
                          <div class="card-body">
                            <div class="alert alert-info mb-4 py-3">
                              <i class="fal fa-language me-2"></i><strong>Tip:</strong> User profiles are UTF-8 charset
                              supported.
                            </div>
                            <div class="alert alert-success mb-4 py-3" *ngIf="editProfileSuccess">
                              <i class="fal fa-check-circle me-2"></i>User profile has been successfully updated!
                            </div>
                            <mdb-form-control>
                              <input mdbInput mdbValidate type="text" formControlName="firstName" id="profileName1"
                                     maxlength="32"
                                     [readonly]="formsAreDisabled" placeholder="{{userProfile?.firstName ?? 'John'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileName1">First Name</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.firstName"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="lastName" id="profileName2"
                                     maxlength="32"
                                     [readonly]="formsAreDisabled" placeholder="{{userProfile?.lastName ?? 'Doe'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileName2">Last Name</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.lastName"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="gender">
                                <mdb-option value="o">Others / Non specified</mdb-option>
                                <mdb-option value="m">Male</mdb-option>
                                <mdb-option value="f">Female</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Gender</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editProfileForm.controls.gender"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput [mdbDatepicker]="userDob" type="text" formControlName="dob"
                                     class="form-control"
                                     id="profileDob"/>
                              <label mdbLabel for="profileDob" class="form-label">Date of birth</label>
                              <mdb-datepicker-toggle [mdbDatepicker]="userDob"></mdb-datepicker-toggle>
                              <mdb-datepicker #userDob [format]="'dd mmm yyyy'" [inline]="true"></mdb-datepicker>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editProfileForm.controls.dob"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="address1" id="profileAddr1"
                                     maxlength="64"
                                     [readonly]="formsAreDisabled"
                                     placeholder="{{userProfile?.address1 ?? 'Apartment #, Building Name, Street'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileAddr1">Address Line 1</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.address1"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="address2" id="profileAddr2"
                                     maxlength="64"
                                     [readonly]="formsAreDisabled"
                                     placeholder="{{userProfile?.address2 ?? 'Phase, Town, Area'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileAddr2">Address Line 2</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.address2"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="postalCode" id="profileZIP"
                                     maxlength="16"
                                     [readonly]="formsAreDisabled"
                                     placeholder="{{userProfile?.postalCode ?? 'Postal Code'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileZIP">Postal Code</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.postalCode"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="city" id="profileCity"
                                     maxlength="32"
                                     [readonly]="formsAreDisabled" placeholder="{{userProfile?.city ?? 'City'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileCity">City</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.city"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="state" id="profileState"
                                     maxlength="32"
                                     [readonly]="formsAreDisabled" placeholder="{{userProfile?.state ?? 'State'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="profileState">State / Province</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editProfileForm.controls.state"></app-form-field-error>
                            <hr class="text-muted border-1">
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="editProfileTotp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="editProfileTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editProfileTotp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editProfileForm.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer bg-light">
                            <button class="btn btn-outline-primary" type="submit" *ngIf="!editProfileSubmit" mdbRipple
                                    rippleColor="primary"
                                    [disabled]="formsAreDisabled">Save Changes
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-primary'" [spinnerClass]="'text-primary'"
                                               *ngIf="editProfileSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mdb-tab>
                  <mdb-tab title="Referral Program">
                    <div class="col-lg-8">
                      <form [formGroup]="editReferrerForm" (ngSubmit)="submitEditReferrer()">
                        <div class="card">
                          <div class="card-body">
                            <dl class="mb-0">
                              <dt class="fw-normal">Referrals Counts</dt>
                              <dd>{{user.referralsCount}}<span> &mdash; <a
                                routerLink="/auth/users/search"
                                [queryParams]="{referrer: user.username}">[view]</a></span></dd>
                            </dl>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title fw-light mt-4 user-select-none"><i class="fal fa-user-edit me-2"></i>Change
                              Referrer ID</h5>
                            <hr class="text-muted border-1">
                            <div class="alert alert-success mb-4 py-3" *ngIf="editReferrerSuccess">
                              <i class="fal fa-check-circle me-2"></i>Referrer user has been updated successfully!
                            </div>
                            <mdb-form-control>
                              <input mdbInput mdbValidate type="text" formControlName="referrer" id="editReferrer"
                                     maxlength="16"
                                     [readonly]="formsAreDisabled" placeholder="{{user.referrerUsername ?? 'Username'}}"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editReferrer">Referrer Username</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="editReferrerForm.controls.referrer"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="editRefTotp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="editReferrerTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="editRefTotp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="editReferrerForm.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer bg-light">
                            <button class="btn btn-outline-primary" type="submit" *ngIf="!editReferrerSubmit" mdbRipple
                                    rippleColor="primary"
                                    [disabled]="formsAreDisabled">Update Referrer
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-primary'" [spinnerClass]="'text-primary'"
                                               *ngIf="editReferrerSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mdb-tab>
                  <mdb-tab title="Verifications">
                    <div class="col-lg-8">
                      <form [formGroup]="verificationsFormAcc" (ngSubmit)="verifyAccSubmit()">
                        <div class="card">
                          <div class="card-header user-select-none bg-light">
                            <h5 class="card-title fw-light mb-0"><i class="fas fa-star-half-alt text-warning me-2"></i>Account
                              Verifications</h5>
                          </div>
                          <div class="card-body">
                            <mdb-form-control>
                              <mdb-select [disabled]="formsAreDisabled" formControlName="emailVerified">
                                <mdb-option value="true">Verified</mdb-option>
                                <mdb-option value="false">Not Verified</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">E-mail Address</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormAcc.controls.emailVerified"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="phoneVerified">
                                <mdb-option value="true">Verified</mdb-option>
                                <mdb-option value="false">Not Verified</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Phone No.</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormAcc.controls.phoneVerified"></app-form-field-error>
                            <hr class="text-muted border-1">
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="verification1Totp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="verifyAccTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="verification1Totp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormAcc.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer">
                            <button class="btn btn-outline-primary" type="submit" *ngIf="!verificationsFormSubmit"
                                    mdbRipple
                                    rippleColor="primary"
                                    [disabled]="formsAreDisabled">Save Changes
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-primary'" [spinnerClass]="'text-primary'"
                                               *ngIf="verificationsFormSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                      <form [formGroup]="verificationsFormProfile" (ngSubmit)="verifyProfileSubmit()" class="mt-4">
                        <div class="card">
                          <div class="card-header user-select-none bg-light">
                            <h5 class="card-title fw-light mb-0"><i class="fas fa-id-card-alt text-warning me-2"></i>Profile
                              Verifications</h5>
                          </div>
                          <div class="card-body">
                            <mdb-form-control>
                              <mdb-select [disabled]="formsAreDisabled" formControlName="idVerified">
                                <mdb-option value="true">Verified</mdb-option>
                                <mdb-option value="false">Not Verified</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Identity</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormProfile.controls.idVerified"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="addressVerified">
                                <mdb-option value="true">Verified</mdb-option>
                                <mdb-option value="false">Not Verified</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Address</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormProfile.controls.addressVerified"></app-form-field-error>
                            <hr class="text-muted border-1">
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="verification2Totp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="verifyProfileTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="verification2Totp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error
                              [formField]="verificationsFormProfile.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer">
                            <button class="btn btn-outline-primary" type="submit" *ngIf="!verificationsFormSubmit"
                                    mdbRipple
                                    rippleColor="primary"
                                    [disabled]="formsAreDisabled">Save Changes
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-primary'" [spinnerClass]="'text-primary'"
                                               *ngIf="verificationsFormSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mdb-tab>
                  <mdb-tab title="Password">Messages content</mdb-tab>
                  <mdb-tab title="Reset">
                    <div class="col-lg-8">
                      <form [formGroup]="resetForm" (ngSubmit)="submitResetForm()">
                        <div class="card">
                          <div class="card-body">
                            <div class="alert alert-success mb-4 py-3" *ngIf="resetActionSuccess">
                              <i class="fal fa-check-circle me-2"></i>{{resetActionSuccess}}
                            </div>
                            <mdb-form-control class="mt-3">
                              <mdb-select [disabled]="formsAreDisabled" formControlName="action">
                                <mdb-option value="">(select)</mdb-option>
                                <mdb-option value="checksum">Recompute Checksum</mdb-option>
                                <mdb-option value="disable2fa">Disable 2FA</mdb-option>
                                <mdb-option value="re_credentials">Reset Credentials</mdb-option>
                                <mdb-option value="re_params">Reset Encrypted Params</mdb-option>
                              </mdb-select>
                              <label mdbLabel class="form-label">Command</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="resetForm.controls.action"></app-form-field-error>
                            <mdb-form-control class="mt-3">
                              <input mdbInput mdbValidate type="text" formControlName="totp" id="resetTotp"
                                     maxlength="6"
                                     autocomplete="off" [readonly]="formsAreDisabled" placeholder="000000"
                                     (focus)="validator.focusTotpField($event)" (keyup)="resetTotpType($event)"
                                     class="form-control mb-0" autofocus/>
                              <label mdbLabel class="form-label " for="resetTotp">TOTP Code</label>
                            </mdb-form-control>
                            <app-form-field-error [formField]="resetForm.controls.totp"></app-form-field-error>
                          </div>
                          <div class="card-footer bg-light">
                            <button class="btn btn-outline-danger" type="submit" *ngIf="!resetActionSubmit" mdbRipple
                                    rippleColor="danger"
                                    [disabled]="formsAreDisabled">Execute
                            </button>
                            <app-button-loader [btnClass]="'btn-outline-danger'" [spinnerClass]="'text-danger'"
                                               *ngIf="resetActionSubmit"></app-button-loader>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mdb-tab>
                </mdb-tabs>
              </div>
            </div>
          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle>
              <span><i class="fal fa-flag me-2"></i>Flags &amp; Params</span>
            </ng-template>
            <div class="card shadow-2 mt-4">
              <div class="card-header bg-light">
                <h5 class="card-title mb-0 fw-light">Account Parameters</h5>
              </div>
              <div class="card-body">
                <mdb-tabs [vertical]="true">
                  <mdb-tab title="Flags">...</mdb-tab>
                  <mdb-tab title="Encrypted Params">...</mdb-tab>
                  <mdb-tab title="Baggage Data">...</mdb-tab>
                </mdb-tabs>
              </div>
            </div>
          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle>
              <span><i class="fal fa-book me-2"></i>History</span>
            </ng-template>
            <div class="card card-classic mt-4">
              <div class="card-header">
                <h5 class="card-title mb-0 fw-light">Account History</h5>
              </div>
              <div class="card-body">
                <mdb-tabs [vertical]="true">
                  <mdb-tab title="Administrative Logs">Administrative Logs</mdb-tab>
                  <mdb-tab title="Notes">...</mdb-tab>
                </mdb-tabs>
              </div>
            </div>
          </mdb-tab>
        </mdb-tabs>
      </div>
      <div class="col-md-4 col-lg-3 mt-3" *ngIf="user">
        <div class="card shadow-2 border">
          <div class="card-header text-center bg-inner-blue">
            <img src="assets/unknown.jpeg" alt="User Thumbnail" mdbTooltip="User Thumbnail"
                 class="img-fluid img-thumbnail rounded-circle my-2"
                 style="max-width: 150px">
            <p class="mb-0 fw-light text-danger">User ID # {{user.id}}</p>
          </div>
          <div class="card-body">
            <p class="mb-2 fw-light">
              <i class="fal fa-user me-2" mdbTooltip="Username"></i><span
              class="user-select-all">{{user.username}}</span>
            </p>
            <ng-container *ngIf="!userProfile?.firstName && !userProfile?.lastName">
              <p class="mb-2 fw-light"><span class="text-muted">(unnamed)</span></p>
            </ng-container>
            <ng-container *ngIf="userProfile?.firstName || userProfile?.lastName">
              <p class="mb-2 fw-light user-select-all"><i class="fal fa-id-card-alt me-2" mdbTooltip="Identity"></i>
                <span *ngIf="userProfile?.firstName">{{userProfile?.firstName}} </span><span
                  *ngIf="userProfile?.lastName">{{userProfile?.lastName}}</span>
              </p>
            </ng-container>
            <ng-container *ngIf="!userProfile?.address1">
              <p class="mb-2 fw-light user-select-all"><i class="fal fa-location-arrow me-2"
                                                          mdbTooltip="Postal address"></i><span
                class="text-muted">(no-address)</span></p>
            </ng-container>
            <ng-container *ngIf="userProfile?.address1">
              <p class="mb-2 fw-light user-select-all text-muted">
                <i class="fal fa-location-arrow me-2 text-dark"
                   mdbTooltip="Postal address"></i>{{userProfile?.address1}}
                <ng-container *ngIf="userProfile?.address2"><br>{{userProfile?.address2}}</ng-container>
                <ng-container *ngIf="userProfile?.postalCode"><br>{{userProfile?.postalCode}}</ng-container>
                <ng-container *ngIf="userProfile?.city"><br>{{userProfile?.city}}</ng-container>
                <ng-container *ngIf="userProfile?.state"><br>{{userProfile?.state}}</ng-container>
              </p>
            </ng-container>
            <p class="mb-2 fw-light" *ngIf="user.country">
              <i class="fal fa-location me-2" mdbTooltip="Country"></i><span
              class="user-select-all">{{user.country}}</span>
            </p>
            <p class="mb-2 fw-light">
              <i class="fal fa-envelope me-2" mdbTooltip="E-mail Address"></i>
              <span *ngIf="user.email" class="user-select-all">{{user.email}}</span>
              <span *ngIf="!user.email" class="text-muted">(no-email)</span>
            </p>
            <p class="fw-light">
              <i class="fal fa-mobile me-2" mdbTooltip="SMS/Cell No."></i>
              <span *ngIf="user.phone" class="user-select-all">{{user.phone}}</span>
              <span *ngIf="!user.phone" class="text-muted">(not-set)</span>
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-danger shadow-2"><i class="fal fa-trash-alt me-2"></i>Delete User</button>
            <button class="btn btn-block btn-outline-dark shadow-2 mt-2">
              <i class="fal fa-window-frame me-2"></i>Activity Log
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
